.home__product{
  margin-top: 50px;
} 

.home__title{
    margin: 0 40px;
}

 .home__image{
  width: 382%;
  height: 351px;
} 

.home__link{
    position: relative;
    width: 276px;
    margin: 20px 0 0 40px
} 

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0px;
    bottom: 20px;
    left: 1px;
    right: 20px;
    height: 48vh;
    width: 95%;
    opacity: 0;
    transition: .5s ease;
    /* background-color: #ee7c69; */
    background-color: rgba(0,0,0,0.5);
    /* z-index: 2; */
  }

.home__link:hover .overlay {
    opacity: 1;
} 

.text-bloc{
    color: white;
    font-size: 20px;
    border: 2.5px solid white;
    padding: 5px 10px;
}

.text {
    color: white;
    font-size: 25px;
    margin-bottom: 10px;
  }

  .home__btn{
    display: flex;
    justify-content: space-evenly;
    
  }

  .home__btn> button{
    border: none;
    background-color: #B83D5E;
    font-weight: bold;
    font-size: 17px;
    margin-top: 10px;
    padding: 15px;
    cursor: pointer;
  }

  .overlay__stockOut{
    color: white;
    font-size: 25px;
    margin-top: 10px;
  }

 

  