.navMain__up{
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
}

.navMain__left{
    display: flex;
}

.navMain__left > a > img {
    width: 30%;
}

/* .navMain__center > a >img{
    width: 200px;
    height: auto;
} */

.navMain__right {
    display: flex;
}

.navMain__right a, .navMain__left a{
    text-decoration: none;
    color: black;
}

.navMain__right > a > h3 {
    margin-right: 30px;
}

.navMain__down {
    padding: 15px;
    background-color: #B83D5E;
    margin-bottom: 10px;
}
