.emptyCart{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* c'est ce qui centre mes elements */
    position: relative;
    top: 127px;
}

.emptyCart > h2 {
    margin-top: 20px;
}

.emptyCart > a {
    border: none;
    background-color: #B83D5E;
    font-weight: bold;
    font-size: 17px;
    margin-top: 20px;
    padding: 15px;
    cursor: pointer;
    color: black;
    text-decoration: none;
}

.filledCart{
    padding-bottom: 9%;
}

.filledCart > h2{
    text-align: center;
}

.filledCart__items{
    margin-top: 40px;
}

.filledCart__item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.filledCart__item img{
    width: 15%;
}

.filledCart__item > p{
    margin-left: 10px;
}

